@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;

}

body{
    font-family: 'Roboto', sans-serif;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(103,109,255);
    background: linear-gradient(45deg, rgba(103,109,255,1) 0%, rgba(124,129,255,1) 50%, rgba(151,155,255,1) 100%);
}

.l-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
    height: auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .title {
        font-size: 2rem;
        font-weight: bold;
        color: rgb(107, 112, 255);
    }

    .sub-title {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 1.5rem 0 .75rem 0;
        color: rgb(107, 112, 255);
    }

    .form {
        padding: .78rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .l-input{
            width: 300px;
            border: none;
            outline: none;
            padding: 0.9rem;
            border-bottom: 1px solid rgb(107, 112, 255);
            background-color: #ffffff;
            border-radius: .45rem;
            
            &::placeholder {
                color: rgb(56, 56, 56);
            }

        }

        .l-button {
            padding: 1rem;
            border: none;
            border-radius: 1rem;
            background-color: rgb(107, 112, 255);
            color: #ffffff;
            font-size: 1rem;
            width: 200px;
            cursor: pointer;

            &:hover {
                animation: 5s ease-in linear infinite;
                background-color: rgb(65, 71, 255);
            }
        }
    }

    .p-register{
        margin-top: 1rem;
        color: rgb(65, 71, 255);

        .a-register {
            text-decoration: underline;
            color: black;
        }

    }

    .error {
        color: red;
        margin-top: 10px;
    }
}

.sidebar {
    height: 100vh;
    width: 230px;
    background-color: rgb(103,109,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .container-user {
        width: 100%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.4rem;
        color: white;
        border-bottom: 2px white solid;

        .user-profile{
            height: 13rem;
            width: 13rem;
            
        }
    }

    

    .sidebar-list {
        width: 100%;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        align-items: flex-start;    
        gap: 30px;   
        
        .sidebar-row {
            width: 100%;
            height: 70px;
            list-style-type: none;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: "Roboto", sans-serif;

            &:hover {
                animation: 5s ease-in linear infinite;
                background-color: rgb(65, 71, 255);
                cursor: pointer;
            }

            .sidebar-icon {
                flex: 30%;
                display: grid;
                place-items: center;
            }

            .sidebar-title {
                flex: 70%;
            }
        }
    }
}

.dboard-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;

    .dashboard {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 6.6rem;

            .card-container {
                border-radius: 20px;
                height: 130px;
                width: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: rgb(103,109,255);
                color: white;
                font-size: x-large;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
            }
        }

        .table-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .table-dashboard {
                border-collapse: collapse;
                margin: 25px 0;
                font-size: .9rem;
                min-width: 75rem;
                height: 20rem;
                border-radius: 7px 7px 0 0;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);

                thead tr{
                    background-color: rgb(103,109,255) ;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                }

                th, td {
                    padding: 12px 15px;
                }

                tbody, tr {
                    text-align: center;
                    border-bottom: 1px solid #dddddd;

                    tbody, tr:nth-of-type(even) {
                        background-color: #f3f3f3;
                    }

                    tbody, tr:last-of-type{
                        border-bottom: 3px solid rgb(103,109,255);
                    }
                }
            }

            .btn-delete {
                color: red;
                width: 5px;

                &:hover {
                    cursor: pointer;
                }
            }

            .btn-edit {
                width: 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        } 
    }
    .pagination {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 20px;
    }
    
    .page-item {
        margin: 0 5px;
    }
    
    .page-link {
        padding: 8px 16px;
        text-decoration: none;
        color: #007bff;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .page-link:hover {
        background-color: #f1f1f1;
    }
    
    .page-item.active .page-link {
        background-color: rgb(103,109,255);
        color: white;
        border: 1px solid rgb(103,109,255);
    }
}